@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .container {
    text-align: center;
    width: 100%;
  }

  .img-container {
    max-width: 100%;
  }

  img {
    width: 50%;
    margin: 5%;
  }

  #main-container {
    padding-right: 15%;
  }

  #main-container h2 {
    font-size: 1.7rem;
  }

  p#description {
    padding-top: 5%;
    font-size: 1.2rem;
  }

  #navbar-list li a {
    display: none;
  }

  #mobile-only {
    margin-top: 2%;
    float: right;
    height: 10%;
    width: 10%;
  }

  #button-area {
    padding-top: 8%;
  }

  #button-area button {
    background-color: #d2872c;
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    border-radius: 18px;
    border: none;
    cursor: pointer;
  }
}

/* Geral */

body,
p,
h1,
h2,
a {
  margin: 0;
  font-family: Roboto;
  color: #766f68;
}

h1 {
  color: #d2872c;
  font-size: 25px;
}

h2 {
  font-size: 55px;
}

/* navbar */

@media (min-width: 601px) {
  /* aqui eu consegui definir que caso a largura do dispositivo seja maior ou igual a 601 px o toggle nao deve aparecer*/
  #mobile-only {
    display: none;
  }
}

#navbar {
  padding: 0 15px;
  height: 60px;
}

#navbar h2,
#navbar ul,
#navbar-list li {
  display: inline-block;
}

#navbar h1 {
  position: absolute;
  top: 10px;
}

#navbar-list {
  float: right;
  margin-top: 22px;
}

#navbar li {
  margin: 0 10px;
}

#navbar-list li a {
  text-decoration: none;
}

#navbar-list li a:hover {
  border-bottom: 1px solid #766f68;
}

/* navbar fim */

.container {
  width: 100%;
}

/* main inicio */

.img-container {
  max-width: 500px;
  float: right;
  padding-right: 10%;
  padding-top: 8%;
}

img {
  width: 100%;
}

#main-container {
  padding-top: 8%;
  padding-left: 12%;
  max-width: 480px;
}

#description {
  padding-top: 5%;
  font-size: 1.8rem;
  font-weight: 300;
}

#button-area {
  padding-top: 8%;
}

#button-area button {
  background-color: #d2872c;
  color: white;
  padding: 4% 23% 4% 23%;
  font-family: Roboto;
  font-size: 1.2rem;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}

/* main fim */
